@import "variables";
em
{
	font: inherit;
}
///// COMMUN CSS ////

h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.3rem;
}
h3{
    font-size: 1.1rem;
}

.footer{
    .row{
        padding: 0;
        margin: 0;
    }
}

.adminpageSeparator {
    border: 4px double $red;
    width: 70%;
}

.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem $yellow;
    border-color: $yellow;
}

.sessionFont{
    font-size: 1.4rem;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

.navbar {
    .nav-link {
        color: black;
        &:hover {
            color: $yellow;
        }
    }
    &-background {
        background-color: white;
    }
    &-toggler {
        background-color: $yellow;
        border: 1xp solid black;
        .fa-bars {
            color: white;
        }
    }
    &-collapse {
        .show {
            .nav-link {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.page-title {
    margin-top: 90px;
    &-text {
        color: black;
        font-size: 2rem;
    }
    &-h1 {
        font-size: 3rem;
        color: white;
    }
    span {
        color: $yellow;
    }
    a {
        color: $yellow;
    }
}

.tox-tinymce {
    margin-top: 1rem;
    border: unset;
    border: 1px solid #efefef !important;
}

.tox-statusbar {
    visibility: hidden;
}

//// FOOTER ////

.social{
    &-link{
        text-decoration: none;
        color: $yellow;
        &:hover{
            color: white;
        }
    }
}

//// CUSTOM BUTTON ////

.redbtn{
    background-color: $red;
    border: 1px solid $red;
    text-decoration: none;
    color: white;
    &:hover {
        color: $red;
        background-color: white;
        border: 1px solid $red;
    }
}

.yellowbtn{
    background-color: $yellow;
    border: 1px solid $yellow;
    text-decoration: none;
    color: white;
    &:hover {
        color: $yellow;
        background-color: white;
        border: 1px solid $yellow;
    }
}

.greenbtn{
    background-color: $green;
    border: 1px solid $green;
    text-decoration: none;
    color: white;
    &:hover {
        color: $green;
        background-color: white;
        border: 1px solid $green;
    }
}

//// UPDATE CHAPTER PAGE ////

.updateForm {
    &-labeltitle,
    &-labelimg {
        border-bottom: 1px dashed #495057;
    }
    &-labelcontent {
        font-size: 1.3rem;
    }
    &-titleinput,
    &-imginput {
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: unset;
        &:focus {
            border-bottom: 1px solid $yellow;
            box-shadow: unset;
        }
    }
}

.img-thumbnail {
    width: 30%;
    margin: auto;
}

//// READING PAGE ////

.nextChapter,
.previousChapter {
    &-return {
        color: black;
        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }
}

.singlePage,
.modifyPage {
    &-return {
        a {
            color: black;
            &:hover {
                color: $yellow;
                text-decoration: none;
            }
        }
    }
}

.leaveComment {
    &-form {
        width: 80%;
        margin: auto;
    }
}

.reporting {
    &-link {
        color: $red;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
    &-icon {
        color: $red;
        &:hover {
            color: black;
        }
    }
}

//// ADDCHAPTER PAGE ////

.writingForm {

    &-link {
        color: black;
        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }
    &-labelAuthor,
    &-labelTitle,
    &-labelImg {
        font-size: 1.4rem;
        border-bottom: 1px dashed #495057;
    }
    &-labelContent {
        font-size: 1.3rem;
    }
    &-authorInput {
        font-size: 1.1rem;
        &:focus {
            border-bottom: 1px solid $yellow;
            box-shadow: unset;
        }
    }
    &-titleInput,
    &-imgInput {
        border: none;
        border-bottom: 1px solid #ced4da;
        &:focus {
            border-bottom: 1px solid $yellow;
            box-shadow: unset;
        }
    }
}

//// LOGIN PAGE ////

.formflex {
    padding-top: 5rem;
    .form-signin {
        max-width: 320px;
        &-img {
            width: initial !important;
        }
        &-link {
            color: $yellow;
            &:hover {
                text-decoration: none;
                color: black;
            }
        }
    }
}

//// HOME PAGE ////

.main-header {
    position: relative;
    &-img {
        width: 100%;
        // max-width: 1920px;
        // margin: auto;
    }
    &-jumbotron {
        background-color: transparent;
        margin-bottom: unset;
    }
    &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-text {
        color: white;
        font-size: 6rem;
        font-style: italic;
    }
    &-h1 {
        font-size: 4.5rem;
        color: white;
    }
    span {
        color: $yellow;
        font-style: italic;
    }
    a {
        color: $yellow;
    }
}

.about {
    padding-top: 8rem;
    &-quote {
        p {
            font-size: 1.2rem;
        }
        footer {
            text-align: right;
        }
    }
    &-img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}

//// ADMIN PAGE ////

.sidebar {
    background-color: #f7f7f7d7;
    &-nav {
        &-link {
            color: black;
            text-decoration: none;
            &:hover {
                color: $yellow;
            }
        }
    }
}

.writingChapter {
    width: 60%;
    background-color: #fffdf5;
    &-title {
        font-size: 1.6rem;
    }
    .yellowbtn {
        &::before {
            padding-right: 1.25rem;
        }
        &::after {
            padding-left: 1.25rem;
        }
        &::after,
        &::before {
            content: "\f56b";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 1.05rem;
            color: $yellow;
        }
    }
}

.summary {
    &-title {
        font-size: 2.5rem;
    }
    &-subtitle {
        font-size: 1.5rem;
    }
    &-comment {
        font-size: 1.5rem;
    }
}

.publishChapterCard,
.unpublishChapterCard {
    &-link {
        color: black;
        &:hover {
            text-decoration: none;
            color: $yellow;
            cursor: pointer;
        }
    }

    &-title {
        font-size: 1.5rem;
        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 1.25rem;
            content: "\f358";
            color: $yellow;
            padding-right: 0.5rem;
        }
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 1.25rem;
            content: "\f358";
            color: $yellow;
        }
        &:hover {
            color: $yellow;
        }
    }

    &-icons {
        color: white;
    }
}

.commentModerationCard {
    border: 1px solid rgba(0, 0, 0, .125);
}

.publishChapterCard,
.unpublishChapterCard,
.commentModerationCard {

    .greenbtn {
        &::before {
            content: " ";
            padding-left: 1.5rem;
        }
        &::after {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $green;
            padding-left: 1rem;
        }
    }

    .yellowbtn {
        &::before {
            content: " ";
            padding-left: 1.5rem;
        }
        &::after {
            content: "\f5da";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $yellow;
            padding-left: 1rem;
        }
    }

    .publishbtn,
    .validatebtn {
        &::before {
            content: " ";
            padding-left: 1.75rem;
        }
        &::after {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $green;
            padding-left: 1rem;
        }
    }

    .redbtn {
        &::before {
            content: " ";
            padding-left: 1.75rem;
        }
        &::after {
            content: "\f057";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $red;
            padding-left: 1rem;
        }
    }

}

.publishChapterAdmin,
.pendingChapterAdmin,
.commentModerationAdmin {
    margin: 5rem 0 6rem 0;
    padding: 0.5rem;
    &-title {
        background-color: #f7f7f7d7;
        margin-bottom: 2rem;
    }
}

//// FONT AWESOME COLOR CHANGE ////

.fa-house-user,
.fa-book,
.fa-comment,
.fa-book-reader,
.fa-feather-alt,
.fa-arrow-left {
    color: $yellow;
}

.fa-check {
    color: $green;
}

.fa-times {
    color: $red;
}

//// CONTACT PAGE ////

.contactForm {

    &-return {
        color: black;
        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }
}

//// MEDIA QUERRIES ////

@media (min-width: 320px) {
    .about {
        h2 {
            margin-top: 1rem!important;
            font-size: 2.5rem;
        }
    }
    
    .chapter-row{
        h4 {
            font-size: 1.25rem;
        }
        p {
            font-size: 0.9rem;
        }
    }

    .chapterimg {
        width: 100%;
        max-width: 90%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    }

    .chapter-card {
        border-radius: 1px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    } 

    .commentModerationCard {
        padding: 0 4rem 0 4rem!important;
    }

    .main-header {
        &-margintop {
            margin-top: 3rem;
        }
        &-text {
            font-size: 2rem;
        }
        &-h1 {
            font-size: 1.25rem;
        }
    }

    .navbar {
        &-brand {
            display: block;
            margin: auto;
        }
        &-toggler {
            margin: 1rem auto auto;
            display: block;
        }
        &-collapse {
            z-index: 10;
            padding: 0;
        }
        .nav-link {
            margin: unset;
        }
        .text-uppercase {
            text-align: center;
        }
    }

    .page-title {
        &-text {
            font-size: 1.5rem;
        }
        h1 {
            font-size: 1.5rem;
        }
    }   

    .publishchapter {
        &-title{
            font-size: 2.5rem;
        }
        .lead {
            font-size: 1rem;
        }
    }

    .publishChapterAdmin,
    .pendingChapterAdmin,
    .commentModerationAdmin {
        &-title {
            font-size: 1.5rem;
        }
    }

    .publishChapterCard,
    .unpublishChapterCard,
    .commentModerationCard {
        margin-top: 1rem;
        padding: 0;
        border: none;
        text-align: center!important;
        .card-header {
            font-size: 0.9rem;
        }
        &-date {
            font-size: 0.9rem;
        }
        &-title {
            display: block;
            font-weight: bold;
            font-size: 1rem;
            &::before {
                font-size: 0.8rem;
                padding-right: 0.5rem;
            }
            &::after {
                font-size: 0.8rem;
            }
        }
        &-text {
            font-size: 0.8rem;
        }
        &-btn {
            margin-top: 0.3rem;
        }
        .collapse {
            text-align: justify!important;
        }
    }

    .reporttag {
        margin: auto;
    }

    .sidebar {
        text-align: center;
    }

    .summary {
        &-title {
            text-align: center;
        }
        &-container {
            padding-right: unset;
            padding-left: unset;
        }
    }

    .table {
        td {
            font-size: 0.7rem;
            text-align: center;
            padding: 0.65rem!important;
        }
        th {
            padding: .55rem;
        }
    }

    .writingChapter {
        width: 100%;
        &-title {
            font-size: 1.2rem;
        }

        &-btn {
            width: unset;
            margin: unset;
        }
    } 
}

@media (min-width: 576px) {
    .about {
        h2 {
            font-size: 3.5rem;
        }
    }

    .chapter-row{
        h4 {
            font-size: 1.5rem;
        }
    } 

    .commentModerationCard {
        &-title {
            text-align: center;
        }
        &-text {
            font-size: 1rem;
            width: 80%;
        }
    }

    .leaveComment {
        &-title {
            text-align: center;
        }
    }

    .page-title {
        &-text {
            font-size: 2rem;
        }

        h1 {
            font-size: 2.25rem;
        }
    }

    .publishChapterAdmin,
    .pendingChapterAdmin,
    .commentModerationAdmin {
        &-title {
            font-size: 2rem;
        }
    }

    .publishchapter {
        &-title{
            font-size: 3.5rem;
        }
        .lead {
            font-size: 1.25rem;
        }
    }
    
    .publishChapterCard,
    .unpublishChapterCard,
    .commentModerationCard {
        &-header {
            background-color: white;
        }
        &-date {
            float: right;
            display: block;
        }
        &-title {
            font-size: 1.2rem;
            &::before {
                font-size: 0.8rem;
                padding-right: 0.5rem;
            }

            &::after {
                font-size: 0.8rem;
            }
        }

        &-text {
            font-size: 1.1rem;
        }
        
    }

    .table {
        width: 90%;
        margin: auto;
        td {
            font-size: 1.2rem;
            text-align: unset;
            padding: 1rem!important;
        }
    }
}

@media (min-width: 992px) {
    .commentModerationAdmin {
        &-title {
            font-size: 2rem;
        }
        .card-header{
            text-align: left!important;
        }
    }

    .main-header {
        &-text {
            font-size: 4rem;
        }
        &-h1 {
            font-size: 2.5rem;
        }
        .chapterimg {
            max-width: 70%;
        }
    }

    .navbar {
        .nav-link {
            margin-left: 3rem;
        }
    }

    .page-title {
        h1 {
            font-size: 3rem;
        }
    }

    .publishChapterCard,
    .unpublishChapterCard {
        &-header {
            text-align: center;
        }
        &-title {
            font-size: 1.3rem;
            text-align: left;
        }
    }

    .sidebar {
        .nav-item{
            text-align: left;
            font-size: 0.7rem;
        }
        .nav-link {
            padding: 0 0 0 0.5rem;
            width: 100%;
        }
    }

    .writingChapter {
        &-btn {
            width: unset;
            margin: unset;
        }
    }
}

@media (min-width: 1200px) {
    .main-header {
        &-margintop {
            margin-top: 0.5rem;
        }
        &-text {
            font-size: 6rem;
        }
        &-h1 {
            font-size: 4.5rem;
        }
    }

    .navbar {
        &-brand {
            display: block;
            margin: auto;
        }
        &-button {
            margin: auto;
        }
    }

    .sidebar {
        display: block;
        .nav-item{
            font-size: 1.1rem;
        }
        .nav-link {
            padding-left: 1.5rem;
        }
    }

    .publishChapterCard,
    .unpublishChapterCard {
        &-header {
            text-align: center;
            background-color: white;
        }
        &-date {
            float: right!important;
            font-size: 1rem;
        }
        &-title {
            font-weight: unset;
            font-size: 1.3rem;
            &::before {
                font-size: 1.25rem;
            }
            &::after {
                font-size: 1.25rem;
            }
        }
        &-text {
            font-size: 1.1rem;
        }
    }
}