.bold
{
    font-weight: bold;
    // position: relative;
}

.margin-top
{
    margin-top: 10px;
}

.header
{
    // position: relative;
    height: 100px;
}

.navbar
{
    &-custom 
    {
        background-color: white;
    }
    &-nav 
    {
        &-link
        {
            padding: 0 1rem 0 1rem;
        }    

    }
}

.form-signin
{
    width: 100%;
    max-width: 330px;   
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-background 
    {    
        // background: url("../data/img/write.jpg") blur(4px);
        background-color: #F5F5F5F5;
        height: 100%;
        // display: flex;
        // align-items: center;
        // width: 100%;
        // position: relative;
    }  
    .card 
    {
        padding: 1rem;
    }
    h3 
    {
        margin-bottom: 2rem;
    }
    &-fa 
    {
        color: #BF4040;
        margin-bottom: 2rem;
    }
    p 
    {
        margin-top: 3rem;
    }
    button 
    {
        padding: .5rem 1rem;
    }
    input 
    {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"]
    {   
        margin-bottom: 1.5rem;
    }   
}

// .jumbotron
// {
//     background-color: white;
//     margin-bottom: unset;
//     &-container 
//     {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }
// }



// .form-signin 
// {
    
// }

// .form-signin .card
// {
//     padding: 1rem;
// }

// .form-signin h3
// {
//     margin-bottom: 2rem;
// }

.form-signin .form-control 
{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.reporting
{
    &-button
    {
        margin: auto;
        margin-bottom: 1rem;
        width: 50%;
        &-custom{
            font-size: 0.75rem;
        }
    }
}

.main-header
{
    position: relative;
    &-img 
    {
        width: 100%;
        max-width: 1920px;
        margin: auto;
    }
    &-jumbotron
    {
        background-color: white;
        margin-bottom: unset;
    }
    &-container 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// .form-signin input 
// {
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
// }

// .form-signin input[type="password"]
// {
//     margin-bottom: 1.5rem;
// }

// .form-signin button
// {
//     padding: .5rem 1rem;
// }

// .form-signin p
// {
//     margin-top: 3rem;
// }

// .form-signin-fa
// {
//     color: #BF4040;
//     margin-bottom: 2rem;
// }

/*
.reporting-button .custom
{    
    font-size: 0.75rem;
}

.jumbotron-img
{
    width: 100%;
    max-width: 1920px;
    margin: auto;
} */