{% extends "/templates/layout.twig" %}

{% block main %}    
<section class="main-header text-center">
    <img src="../public/src/data/img/404.jpg" alt="" class="main-header-img">
    <div class="main-header-container container">
        <div class="main-header-jumbotron jumbotron">
            <h1 class="display-4">{{ error.message }}</h1>
            <a href="../public/index.php"><button class="btn btn-info margin-top">Retour à l'accueil</button></a>
        </div>
    </div>
</section>
{% endblock main %}
