<div class="row bg-dark mt-4 position-fixed-bottom">
    <div class="container ">
        <div class="social m-3">
            <ul class="list-unstyled text-white text-center">
                <li class="list-inline-item"><a href="#" class="social-link"> Twitter</a></li>
                <li class="list-inline-item"><a href="#" class="social-link">Facebook</a></li> 
                <li class="list-inline-item"><a href="#" class="social-link">Instagram</a></li>                
            </ul>
        </div>
        <p class="text-center">
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="http://jigsaw.w3.org/css-validator/images/vcss"
                    alt="CSS Valide !" />
            </a>
        </p>
        <p class="text-center text-white align-middle">Site réalisé dans le cadre d'une formation</p>
    </div>
</div>