<div class="row bg-dark mt-4">
    <div class="container">
        <p class="social">
            <ul class="list-unstyled text-white text-center">
                <li class="list-inline-item"><a href="#" class="link"> Twitter</a></li>
                <li class="list-inline-item"><a href="#" class="link">Facebook</a></li> 
                <li class="list-inline-item"><a href="#" class="link">Instagram</a></li>                
            </ul>
        <p class="text-center text-white align-middle">Site réalisé dans le cadre d'une formation</p>
    </div>
</div>