{% extends "/layout/layout.twig" %}

{% block pageTitle %} Page administrateur | {{ parent() }} {% endblock pageTitle %}

{% block navbarContent %}
    {% if isAdmin %}
    <a class="navbar-brand" href="/adminView"><img src="/img/logo-homepage-resize.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav text-uppercase mr-auto">
                <li class="nav-item">
                    <a href="/adminView#publishChapter" class="nav-link">Chapitres publiés</a>
                </li>
                <li class="nav-item">
                    <a href="/adminView#pendingChapter" class="nav-link">Chapitres en attente</a>
                </li>
                <li class="nav-item">
                    <a href="/adminView#commentModeration" class="nav-link">Modération</a>
                </li>
            </ul>
        </div>
        <a href="/getLogout" class="btn navbar-button">Déconnexion</a>
    {% endif %}    
{% endblock navbarContent %}

{% block mainHeader %}
    <div class="page-title text-center">
        <div class="page-title-container container">
            <p class="page-title-text">Ajouter</p>
            <h1 class="text-lead page-title-h1"><span>un nouveau chapitre</span></h1>
        </div>
    </div>
{% endblock %}

{% block main %} 
    <div class="container text-center">
        <form action="/createChapter" method="post">
            <div class="form-group">
                <label for="chapterAuthor">Auteur du chapitre</label>
                <input type="text" class="form-control" id="chapterAuthor" name="chapterAuthor">
                <label for="chapterTitle">Titre du chapitre</label>
                <input type="text" class="form-control" id="chapterTitle" name="chapterTitle">
                <label for="chapterContent">Contenu du chapitre</label>
                <textarea type="text" class="form-control" id="chapterContent" name="chapterContent" rows="10">Ecrire votre texte</textarea>
                <button type="submit" class="btn addChapter-btn my-2">Enregistrer chapitre</button>
            </div>
        </form>
    </div>
    {% if isAdmin %}
    <div class="text-center">
        <a href="/adminView" class="addChapter-link">Retour à la page d'administration</a>
    </div>
    {% endif %}

{% block javascript %}    
<!-- <script type="text/javascript" src="https://cdn.tiny.cloud/1/30ylg3bct9jzspprpjk9935w46n7uhbtcjb87l6c4g8zbw72/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#chapterContent',
            width: 600,
            height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
                ],
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
                menu: {
                    favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
                },
                menubar: 'favs file edit view insert format tools table help',
            });
        </script> -->
{% endblock javascript %}    
{% endblock main %}
        

