{% extends "/layout.html.twig" %}

{% block pageTitle %} Ajouter un article | {{ parent() }} {% endblock pageTitle %}

{% block mainHeader %}
    <div class="page-title text-center">
        <div class="page-title-container container">
            <p class="page-title-text">Ajouter</p>
            <h1 class="text-lead page-title-h1"><span>un nouveau chapitre</span></h1>
        </div>
    </div>
{% endblock %}

{% block main %} 
    <div class="container">
        <form action="/createChapter" method="post">
            <div class="form-group">
                <label for="chapterAuthor">Auteur du chapitre</label>
                <input type="text" class="form-control" id="chapterAuthor" name="chapterAuthor">
                <label for="chapterTitle">Titre du chapitre</label>
                <input type="text" class="form-control" id="chapterTitle" name="chapterTitle">
                <label for="chapterContent">Contenu du chapitre</label>
                <textarea type="text" class="form-control" id="chapterContent" name="chapterContent"></textarea>
                <button type="submit" class="btn addChapter-btn my-2">Enregistrer chapitre</button>
            </div>
        </form>
    </div>
    {% if isAdmin %}
    <div class="text-center">
        <a href="/adminView" class="addChapter-link">Retour à la page d'administration</a>
    </div>
    {% endif %}

    {% block javascript %}    
    <script type="text/javascript" src="https://cdn.tiny.cloud/1/30ylg3bct9jzspprpjk9935w46n7uhbtcjb87l6c4g8zbw72/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#chapterContent',
            height: 500,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
                ],
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
                menu: {
                    favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
                },
                menubar: 'favs file edit view insert format tools table help',
            });
        </script>
    {% endblock javascript %}    
{% endblock main %}
        

