{% extends "/layout.html.twig" %}

{% block pageTitle %} Ajouter un article | {{ parent() }} {% endblock pageTitle %}

{% block mainHeader %}
    <div class="page-title text-center">
        <div class="page-title-container container">
            <p class="page-title-text">Ajouter</p>
            <h1 class="text-lead page-title-h1"><span>un nouveau chapitre</span></h1>
        </div>
    </div>
{% endblock %}

{% block main %} 
    <div class="container">
        {% if session.addErrorMsg is not null %}
            <div class="sessionFont text-white text-center bg-warning rounded">{{ session.addErrorMsg }}</div>
        {% endif %}
        <form action="/createChapter" method="post">
            <div class="form-group writingForm mt-5">
                <label for="author" class="text-left font-weight-bold font-italic writingForm-labelAuthor">Auteur</label>
                    <input type="text" class="form-control writingForm-authorInput mb-5 border-0 rounded-0" id="author" name="author" value="Jean">
                <label for="title" class="text-left font-weight-bold font-italic writingForm-labelTitle">Titre du chapitre</label>
                    <input type="text" class="form-control writingForm-titleInput mb-5 rounded-0" id="title" name="title">
                <label for="imgUrl" class="text-left font-weight-bold font-italic writingForm-labelImg">Image du chapitre</label>
                    <input type="text" class="form-control writingForm-imgInput mb-5 rounded-0" id="imgUrl" name="imgUrl" placeholder="Ajouter l'url ou le chemin d'accès à votre image">
                <label for="content" class="text-left font-weight-bold font-italic writingForm-labelContent">Contenu</label>
                    <textarea class="form-control writingForm-contentTextarea" id="content" name="content"></textarea>
                <div class="text-center">
                    <input type="submit" name="save" id="save" class="btn greenbtn my-2" value="Enregistrer"/>
                </div>
            </div>
        </form>
    </div>
    {% if isAdmin %}
    <div class="text-center">
        <a href="/adminView" class="writingForm-link">Retour à la page d'administration</a>
    </div>
    {% endif %}

    {% block javascript %}    
    <script src="https://cdn.tiny.cloud/1/30ylg3bct9jzspprpjk9935w46n7uhbtcjb87l6c4g8zbw72/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: '#chapterContent',
                height: 1000,
                plugins: [
                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                    'table emoticons template paste help'
                    ],
                    toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | ' +
                    'alignleft aligncenter alignright alignjustify | outdent indent |  ' +
                    'numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons |' +
                    'fullscreen  preview save print | insertfile image codesample | ltr rtl',
                    toolbar_sticky: true,
                    menu: {
                        favs: {items: 'code visualaid | searchreplace | spellchecker | emoticons'}
                    },
                    menubar: 'favs file edit view insert format tools help',
                });
        </script>
    {% endblock javascript %}    
{% endblock main %}
        

