{% extends "/layout/layout.twig" %}

{% block navbarContent %}
    {% if isAdmin %}
        <a class="navbar-brand" href="../public/index.php?page=adminView"><img src="../public/img/logo-homepage-resize.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarmain">
        <ul class="navbar-nav text-uppercase mr-auto">
            <li class="nav-item">
                <a href="../public/index.php?page=adminView#publishChapter" class="nav-link">Chapitres publiés</a>
            </li>
            <li class="nav-item">
                <a href="../public/index.php?page=adminView#pendingChapter" class="nav-link">Chapitres en attente</a>
            </li>
            <li class="nav-item">
                <a href="../public/index.php?page=adminView#commentModeration" class="nav-link">Modération</a>
            </li>
        </ul>
        <a href="../public/index.php?page=getLogout" class="btn navbar-button">Déconnexion</a>
    {% else %}
        <a class="navbar-brand" href="../public/index.php"><img src="../public/img/logo-homepage-resize.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="true" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>  
        <div class="collapse navbar-collapse show" id="navbarmain">
        <ul class="navbar-nav text-uppercase mr-auto">
            <li class="nav-item">
                <a href="../public/index.php#about" class="nav-link ">A propos</a>
            </li>
            <li class="nav-item">
                <a href="../public/index.php#publishChapter" class="nav-link ">Accéder aux chapitres</a>
            </li>
            <li class="nav-item">
                <a href="../public/index.php?page=contact" class="nav-link ">Contact</a>
            </li>
        </ul>
        <div class="text-center">
            <a href="../public/index.php?page=getLogin" class="btn navbar-button"><span class="button-text">Connexion</span></a>
        </div>
    {% endif %}
{% endblock  navbarContent %}

{% block mainHeader %}
    <div class="page-title text-center">
        <div class="page-title-container container">
            <h1 class="text-lead page-title-h1"><span>Pour me contacter</span></h1>
        </div>
    </div>
{% endblock %}

{% block main %}      
    <div class="container">
        <form action="index.php?page=contactForm" method="post">
            <div class="form-group text-center">
                <label for="lastName">Nom</label>
                <input type="text" class="form-control" id="lastName" name="lastName">
                <label for="firstName">Prénom</label>
                <input type="text" class="form-control" id="firstName" name="firstName">
                <label for="email">Votre e-mail</label>
                <input type="email" class="form-control" id="email" name="email">
                <label for="messageContent">Votre message</label>
                <textarea type="text" class="form-control" id="messageContent" name="messageContent" rows="10"></textarea>
                <button type="submit" class="btn contactForm-btn my-2">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="text-center">
        <a href="../public/index.php" class="contactForm-return">Retour à l'accueil</a>
    </div>

{% endblock main %}


