{% extends "/layout.html.twig" %}

{% block pageTitle %} Contact | {{ parent() }} {% endblock pageTitle %}

{% block mainHeader %}
<div class="page-title text-center">
    <div class="page-title-container container">
        <h1 class="text-lead page-title-h1"><span>Pour me contacter</span></h1>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <h5 class="text-muted text-center mt-4">Merci de renseigner le formulaire ci-dessous pour toute demande</h5>
    {% if session.sendFail is not null %}
        <div class="alert alert-danger text-center mt-4">
            {{ session.sendFail }}
        </div>
    {% endif %}
    {% if session.sendSuccess is not null %}
        <div class="alert alert-success text-center mt-4">
            {{ session.sendSuccess }}
        </div>
    {% endif %}
    {% if session.error is not null %}
        <div class="alert alert-danger text-center mt-4">
            {{ session.error }}
        </div>
    {% endif %}
    <form action="/sendMessage" method="post" class="mt-5">
        <div class="form-group text-center">
            <label for="lastName">Nom</label>
                <input type="text" class="form-control" id="lastName" name="lastName" >
            <label for="firstName">Prénom</label>
                <input type="text" class="form-control" id="firstName" name="firstName" >
            <label for="email">Votre e-mail</label>
                <input type="email" class="form-control" id="email" name="email" >
            <label for="content">Votre message</label>
                <textarea class="form-control" id="content" name="content" rows="10" ></textarea>
            <input type="submit" name="send" id="send" class="btn yellowbtn my-2" value="Envoyer">
        </div>
    </form>
</div>
<div class="text-center">
    <a href="/" class="contactForm-return">Retour à l'accueil</a>
</div>
{% endblock main %}