{% extends "/layout/layout.twig" %}

{% block main %}    
<section class="main-header text-center">
    <img src="../public/img/error404.png" alt="" class="main-header-img">
    <div class="main-header-container container">
        <div class="main-header-jumbotron jumbotron">
            <h1 class="display-4">{{ error }}</h1>
        </div>
    </div>
    <a href="../public/index.php"><button class="btn btn-info margin-top">Retour à l'accueil</button></a>
</section>
{% endblock main %}
