{% extends "/layout.html.twig" %}

{% block pageTitle %} Erreur 500 | {{ parent() }} {% endblock pageTitle %}

{% block main %}
<section id="main-header" class="main-header text-center">
    <div class="page-title text-center">
        <img src="/img/error500.png" alt="" class="main-header-img">
        <div class="container page-title-container">
            <h1 class="page-title-h1"><span class="text-dark">Désolé une erreur serveur, veuillez recharger la page :
                    {{ error }}</span></h1>
        </div>
        <a href="/" class="btn yellowbtn my-3 errortext">Retour à l'accueil</a>
    </div>
</section>
{% endblock main %}