{% extends "/layout/layout.twig" %}

{% block navbarContent %}
    {% if isAdmin %}
        <a class="navbar-brand" href="../public/index.php?page=adminView"><img src="../public/img/logo-homepage-resize.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav text-uppercase mr-auto">
                <li class="nav-item">
                    <a href="../public/index.php?page=adminView#publishChapter" class="nav-link">Chapitres publiés</a>
                </li>
                <li class="nav-item">
                    <a href="../public/index.php?page=adminView#pendingChapter" class="nav-link">Chapitres en attente</a>
                </li>
                <li class="nav-item">
                    <a href="../public/index.php?page=adminView#commentModeration" class="nav-link">Modération</a>
                </li>
            </ul>
        </div>
        <a href="../public/index.php?page=getLogout" class="btn navbar-button">Déconnexion</a>
    {% else %}
        <a class="navbar-brand" href="../public/index.php"><img src="../public/img/logo-homepage-resize.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>  
        <div class="collapse navbar-collapse show" id="navbarmain">
        <ul class="navbar-nav text-uppercase mr-auto">
            <li class="nav-item">
                <a href="../public/index.php#about" class="nav-link ">A propos</a>
            </li>
            <li class="nav-item">
                <a href="../public/index.php#publishChapter" class="nav-link ">Accéder aux chapitres</a>
            </li>
            <li class="nav-item">
                <a href="../public/index.php?page=contact" class="nav-link ">Contact</a>
            </li>
        </ul>
        <div class="text-center">
            <a href="../public/index.php?page=getLogin" class="btn navbar-button"><span class="button-text">Connexion</span></a>
        </div>
    {% endif %}
{% endblock  navbarContent %}

{% block main %}    
    <div class="page-title text-center">
        <img src="../public/img/error500.png" alt="" class="main-header-img">
        <div class="container page-title-container">
            <h1 class="page-title-h1"><span class="text-dark">Désolé une erreur serveur, veuillez recharger la page : {{ error }}</span></h1>
        </div>
        <a href="../public/index.php"><button class="btn error500-btn margin-top">Retour à l'accueil</button></a>
    </div>
{% endblock main %}

