{% extends "/layout.html.twig" %}

{% block pageTitle %} Se connecter | {{ parent() }} {% endblock pageTitle %}

{% block main %}
    <div class="formflex d-flex align-items-center justify-content-center">
        <div class="form-signin text-center w-100">
            <form action="getLogin" method="post" class="card p-4 my-3 ">
                <img src="img/logo-jf.png" class="form-signin-img pb-4 m-auto">
                <h3 class="font-weight-normal">Connectez-vous</h3>
                <label for="email" class="sr-only"></label>
                    <input type="email" class="form-control p-2" id="loginsEmail" name="loginsEmail" placeholder="Adresse email">
                <label for="password" class="sr-only mb-4"></label>
                    <input type="password" class="form-control p-2" id="loginsPassword" name="loginsPassword" placeholder="Mot de passe"></input>
                <button type="submit" class="btn btn-block mt-3">Se connecter</button>
                <p class="text-muted mt-5">© 2020</p>
            </form>
            <a href="index" class="form-signin-link">Retour à l'accueil</a>
        </div>
    </div>
{% endblock main %}

