{% extends "/layout/layout.twig" %}

{% block main %}
    <div class="form-signin text-center">
        <form action="index.php?page=getLogin" method="post" class="card my-3">
            <img src="../public/img/logo-jf" class="form-signin-img">
            <h3 class="font-weight-normal">Connectez-vous</h3>
            <label for="email" class="sr-only"></label>
                <input type="email" class="form-control" id="loginsEmail" name="loginsEmail" placeholder="Adresse email">
            <label for="password" class="sr-only"></label>
                <input type="password" class="form-control" id="loginsPassword" name="loginsPassword" placeholder="Mot de passe"></input>
            <button type="submit" class="btn btn-block margin-top">Se connecter</button>
            <p class="text-muted">© 2020</p>
        </form>
        <a href="../public/index.php" class="form-signin-link">Retour à l'accueil</a>
    </div>
{% endblock main %}

