<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog en création</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style.css">
        <script src="https://kit.fontawesome.com/8b1d8d6405.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="navbar navbar-custom">
                    <a href="../public/index.php" class="navbar-brand text-center text-dark">
                        <!-- <strong>JEAN FORTEROCHE</strong> -->
                        <!-- <img src="./src/data/img/logo-jf-1-resize.png" alt=""> -->
                    </a>                              
                    {# include 'navbar.twig' #}
                    {% block navbarContent %}                        
                    {% endblock navbarContent %}              
                </div>
            </div> 
        </header>
        <section id="main-header" class="main-header text-center">
            {% block mainHeader %}               
            {% endblock mainHeader %}
        </section>
        <section id="publishChapter" class="container">
            {% block chapterButton %}                
            {% endblock chapterButton %}
            {% block publishedChapterContent %}                
            {% endblock publishedChapterContent %}
        </section>
        <section id="pendingChapter" class="container">
            {% block unpublishedChapterContent %}                
            {% endblock unpublishedChapterContent %}
        </section>
        <section class="commentModeration">
            {% block commentContent %}                
            {% endblock commentContent %}
        </section>
        <section class="commentForm">
            {% block commentForm %}                
            {% endblock commentForm %}
        </section>
        <!-- <section id="login" class="login"> -->
            {% block loginForm %}                
            {% endblock loginForm %}
        <!-- </section> -->
        <footer class="footer">
            {% block footer %}                
            {% endblock footer %}
        </footer>
    </body>
</html>